* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s ease;
    font-family: sans-serif;
    outline: 0;
}

body {
    background-image: linear-gradient(to bottom, #051937, #2e285f, #672f7e, #a82a8e, #eb128e);
}

.center {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.cal {
    height: auto;
    width: auto;
    position: relative;
    padding: 15px;
    border-radius: 50px;
    box-shadow: -20px -20px 30px black;
    /*fgfdhg*/
}

.theme-toggler {
    top: 40px;
    left: 40px;
    position: absolute;
    cursor: pointer;
    color: #fff;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    background-color: #333;
    z-index: -1;
}

.display {
    margin: 39px 30px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 15px;
    overflow-x: scroll;
}

.display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 3.5rem;
    width: 3.5rem;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    margin: 4px;
    transition: all 200ms ease;
    font-size: 20px;
}

button:hover {
    transform: scale(1.1);
}

/*light background*/
.cal {
    background-color: #DCEDDD;
}

.cal .display {
    color: #0a1e23;
}

.cal button#clr {
    background-color: #ffd5d8;
    color: #eb0f1d;
}

.cal button.btn-num {
    background-color: #857BF0;
    color: #000000;
}

.cal button.btn-op {
    background-color: #ffd0fb;
    color: #C64CE2;
}

.cal button.btn-equals {
    background-color: #8EE997;
    color: #000;
}

/*dark background*/
.cal.dark {
    background-color: #071115;
}

.cal.dark .display {
    color: #f8fafb;
}

.cal.dark button#clr {
    background-color: #2d191e;
    color: #bd3740;
}

.cal.dark button.btn-num {
    background-color: #1b2f38;
    color: #f8fafb;
}

.cal.dark button.btn-op {
    background-color: #2e1f39;
    color: #aa00a4;
}

.cal.dark button.btn-equals {
    background-color: #223323;
    color: #ffffff;
}